:root {
  --dark-blue: #07131e;
  --aqua:#53EFE9;
  --white: white;
  --cambria: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --italic: italic;
}

body {
    background-color: var(--dark-blue);
    color: var(--aqua);
}

/*CSS for header*/
header {
    background-color: var(--dark-blue);  
}

h1 {
  font-size: 3em;
  background-color: var(--aqua);
  color: var(--dark-blue);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

/*CSS for search card*/
.card {
  margin-top: 20px;
  margin-left: 5px;
  background-color: var(--aqua);
  color: var(--dark-blue);
}

.card-header{
  font-size: 1.5em;
}

.btn {
  background-color: var(--dark-blue);
  color: var(--aqua);
  box-shadow: 3px 3px var(--aqua);
  border-color: var(--aqua);
}

.btn:hover {
  color: var(--dark-blue);
  background-color: var(--aqua);
  transform: translate(0, 0);
}

